@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@200;400;500;600&display=swap');

:root {
  /*! Green theme */
  --main-color-g: #629460;
  --main-color-hover-g: #598656;
  --background-color-g: #C9F2C7;
  --color-forspan-g: #1dd1a1;

  /*! Pink theme */
  --main-color-p: #de76b1;
  --main-color-hover-p: #db57a2;
  --background-color-p: #fbd0e6;

  /*! Yellow theme */
  --main-color-y: #e5d269;
  --main-color-hover-y: #e2c939;
  --background-color-y: #FCF5C7;

  /*! Purple theme */
  --main-color-pr: #7163ad;
  --main-color-hover-pr: #625b8a;
  --background-color-pr: #9792E3;

  /*! Blue theme */
  --main-color-b: #3db6ea;
  --main-color-hover-b: #28afe9;
  --background-color-b: #afe2ff;


  --font-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* border: 1px solid red; */
}

.container {
  width: 360px
}

.container :where(.picker, header, .all-colors, .color) {
  display: flex;
  align-items: center;
  user-select: none;
}

.container .picker {
  padding: 30px 0;
  justify-content: center;
  background: var(--background-color-b);
  height: 105px;
}

.picker #color-picker {
  position: absolute;
  outline: none;
  border: none;
  background: var(--main-color-b);
  color: var(--font-color);
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s;
}

.changeBgColor {
  position: relative;
  /* right: -107px; */
  right: -165px;
  width: 30px;
  height: 235%;
  background-color: #303030;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-left: 2px dashed var(--font-color);
}

.changeBgColor span {
  position: relative;
  width: 15px;
  height: 15px;
  margin: 2.5px 0;
  border-radius: 50%;
  cursor: pointer;
}

.changeBgColor span.active {
  border: 2px solid var(--font-color);
}

.changeBgColor #greenTh {
  background: var(--color-forspan-g);
}

.changeBgColor #pinkTh {
  background: var(--main-color-p);
}

.changeBgColor #yellowTh {
  background: var(--main-color-y);
}

.changeBgColor #purpleTh {
  background: var(--main-color-pr);
}

.changeBgColor #blueTh {
  background: var(--main-color-b);
}

/* .picker #color-picker:hover {
  background-color: var(--main-color-hover-b);
} */

.picked-colors {
  margin: 10px 15px;
}

.picked-colors.hide {
  display: none;
}

.picked-colors header {
  justify-content: space-between;
}

.picked-colors header .title {
  font-size: 1rem;
}

.picked-colors .clear-all {
  position: relative;
  color: var(--main-color-b);
  cursor: pointer;
  font-size: 0.9rem;
}

.picked-colors .clear-all::after {
  content: "";
  position: absolute;
  background-color: var(--main-color-b);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -1px;
  transition: 0.2s;
}

.picked-colors .clear-all:hover::after {
  width: 100%;
}

.all-colors {
  margin: 10px 0;
  flex-wrap: wrap;
  width: 105%;
}

.all-colors:first-child {
  width: 100px;
}

.all-colors .color {
  cursor: pointer;
  margin-bottom: 5px;
  width: calc(100% / 3);
  padding: 5px;
  /* user-select: none; */
}

.all-colors .color .rect {
  display: block;
  height: 22px;
  width: 22px;
  border-radius: 5px;
  margin: 0 8px 0 0;
}

.all-colors .color .value {
  font-size: 0.96rem;
  font-weight: 500;
  text-transform: uppercase;
}

.all-colors li {
  transition: 0.2s;
  border-radius: 5px;
}

.all-colors li:hover {
  background: #eaeaea;
}